[Unit]
Description=blackbeard live environment

[Service]
ExecStart=/root/setup.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
