[Unit]
Description=Start Hyprland Wayland Compositor

[Service]
ExecStart=/usr/bin/hyprland
Restart=always
Environment="XDG_RUNTIME_DIR=/run/user/%u"
Environment="WAYLAND_DISPLAY=wayland-0"

[Install]
WantedBy=default.target

